@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*::-webkit-scrollbar {
  display: none; }

html {
  /*By Defalt the font size is 16px (1rem), But we want change the defalt to 10px for easy calculate rem, 100/16=0.625 */
  font-size: 62.5%;
  font-family: sans-serif;
  height: 100%; }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.7;
  /*padding: 2rem;*/
  height: 100%; }
  body::-webkit-scrollbar {
    display: none; }

* {
  font-family: "Philosopher"; }

.header {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 5; }

.main__container {
  position: relative;
  position: relative;
  /* Fill the available space */
  height: 100vh;
  /* Make the children of the element closer to the viewport */
  perspective: 5px;
  /* Hide the overflow */
  overflow-x: hidden;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); }

.main__coins {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }

.liveReport {
  width: 85%;
  position: absolute;
  top: 5rem;
  background-color: slateblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center; }

#loading {
  background-color: white;
  background-image: url("https://images.unsplash.com/photo-1488866022504-f2584929ca5f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1943&q=80");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20; }
  #loading img {
    animation-duration: 1.5s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; }
  #loading h1 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    margin-top: 60px;
    font-size: 40px; }

@keyframes changewidth {
  from {
    width: 4rem; }
  to {
    width: 7.5rem; } }

.navbar {
  background-color: #00001f;
  color: #fff;
  z-index: 5;
  display: flex;
  justify-content: space-between; }
  .navbar__title {
    width: 15rem;
    display: flex;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: center; }
  .navbar__items-cointaner {
    display: flex;
    justify-content: left;
    align-items: center; }
  .navbar__items-item {
    margin: 1.5rem;
    justify-content: center;
    cursor: pointer;
    align-items: center; }
    .navbar__items-item:hover {
      color: #F29D52; }

i {
  font-size: 2rem;
  margin: .5rem; }

@media only screen and (max-width: 700px) {
  .navbar__title-text, .navbar__items-item-text {
    display: none; } }

.paralax {
  height: 35vh;
  position: relative;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .paralax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    /* Move the element back then scale the element, it helps to appears more slowly */
    transform: translateZ(-1px) scale(1.7);
    /* Set the parallax section before the other elements. */
    z-index: -1;
    background-image: url("https://images.unsplash.com/photo-1488866022504-f2584929ca5f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1943&q=80"); }
  .paralax__title {
    color: white;
    font-size: 7rem;
    text-transform: uppercase; }
  .paralax__subtitle {
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Nunito";
    margin-bottom: 5rem; }

.btn__search {
  width: 50%;
  min-width: 20rem;
  max-width: 30rem;
  background-color: #00001f;
  border: 0;
  border-radius: 5rem;
  color: #F29D52;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center; }
  .btn__search:focus {
    outline: none; }

.btn__card-flip {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.25s;
  border-radius: 50%;
  margin: 5px;
  padding: 0; }
  .btn__card-flip i {
    font-size: 1.5rem;
    cursor: pointer; }
    .btn__card-flip i:hover {
      transform: rotate(-270deg);
      color: rgba(0, 0, 0, 0.8); }

.btn__card-info {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  color: lightgray;
  transition: 1s; }
  .btn__card-info:hover {
    color: skyblue; }

.btn__card-toggle {
  position: absolute;
  top: 5px;
  left: 5px; }

.btn__toggle {
  isolation: isolate;
  position: relative;
  height: 1.5rem;
  width: 4rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset; }
  .btn__toggle-lable {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56; }
  .btn__toggle-state {
    display: none; }
    .btn__toggle-state:checked ~ .btn__toggle-indicator {
      transform: translate3d(25%, 0, 0);
      background: skyblue; }
  .btn__toggle-indicator {
    height: 100%;
    width: 200%;
    background: lightgrey;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6; }

.btn__modal {
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  font-size: 1.7rem;
  margin: 5px; }
  .btn__modal :active {
    outline: none; }
  .btn__modal-apply {
    background-color: skyblue;
    color: white; }
    .btn__modal-apply:hover {
      background-color: #45b3e0; }
  .btn__modal-cancel {
    background-color: lightgray;
    color: white; }
    .btn__modal-cancel:hover {
      background-color: #adadad; }

.coins__flex-grid {
  width: 85%;
  position: absolute;
  top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center; }

.card__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center; }

.card__container {
  /*opacity: 0.8;*/
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: transparent;
  perspective: 1200px; }
  .card__container:hover .card__fliped {
    transform: rotateX(180deg); }
  .card__container .card__fliped {
    transform: rotateX(180deg); }

.card__flip {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.card__front, .card__back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: white; }

.card__back {
  transform: rotateX(180deg);
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
  display: flex;
  align-items: center;
  justify-content: center; }

.card__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9rem;
  height: 9rem; }

.card__text-name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.7rem; }

.card__text-symbol {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.7rem; }

.card__counter-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 1.5rem; }

.card__counter-symbol {
  color: white; }

.card__counter-value {
  color: white;
  font-weight: 100;
  font-size: 2rem;
  margin-top: 1rem; }

.card__progress-bar {
  height: 0.4rem;
  background-color: white;
  width: 90%;
  position: absolute;
  top: 1rem;
  transform-origin: left; }

.modal {
  align-self: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 250px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal__overlay {
    position: fixed;
    /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(58, 12, 12, 0.7);
    /* color */
    display: none;
    /* making it hidden by default */ }
  .modal__header {
    width: 100%;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    color: white;
    text-align: center; }
    .modal__header .modal__title {
      font-size: 3rem;
      padding: 10px; }
  .modal__content {
    width: 100%; }
    .modal__content .modal__message {
      padding-left: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      color: gray;
      font-weight: 100; }
    .modal__content .modal__coins {
      min-height: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 15px; }
    .modal__content .modal__coin-item {
      margin: 15px;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .modal__content .modal__coin-item img {
        width: 65px;
        height: 65px;
        margin-bottom: 10px; }
      .modal__content .modal__coin-item h2 {
        font-size: 1.5rem;
        margin-bottom: 5px; }
  .modal__footer {
    display: flex;
    justify-content: center;
    margin: 15px; }

@media only screen and (max-width: 700px) {
  .modal__content .modal__coins {
    flex-direction: column; }
    .modal__content .modal__coins .modal__coin-item {
      display: flex;
      text-align: left;
      align-items: center;
      flex-direction: row-reverse; }
      .modal__content .modal__coins .modal__coin-item:nth-child(1) {
        order: 2; }
      .modal__content .modal__coins .modal__coin-item:nth-child(2) {
        order: 1; }
      .modal__content .modal__coins .modal__coin-item:nth-child(3) {
        order: 3; }
    .modal__content .modal__coins img {
      width: 30px;
      height: 30px; } }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.hide {
  display: none; }
